gunicorn==19.9.0
httplib2==0.13.0
idna==2.8
ipaddress==1.0.17
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
nltk==3.4.3
numpy==1.16.4
requests==2.22.0
typing==3.6.6
urllib3==1.25.3
Werkzeug==0.15.4
WTForms==2.2.1
streamlit
